.main__div1--style {
    position: relative;
    margin-top: 6rem;
    width: 8rem;
    height: 5rem;
    left: 3rem;
}
.main__div2--style {
position: absolute;
left: 30%;
top: 15%;
}
.main__div3--style {
    position: absolute;
    top: 87%;
    height: 15rem;
    width: 18rem;
    left: 1%;
    background-color: black;
    color: white;
}
.main__div4--style {
    margin-top: 20%;
    margin-left: 20%;
}
.main__p--style {
    text-orientation: upright;
    writing-mode: vertical-rl;
    position: absolute;
    top: 94%;
    left: 26%;
}